<div class="row">
    <%= render partial: "shared/survey_header", locals: { survey: @survey }%>
  <div class="row">
    <div class"col-md-12">
      <h6>Add a question:</h6>
      <em>Choose what type of questions to add</em>
      <%= form_tag new_survey_question_path(@survey), {:method => "get"} do %>
          <p><%= select_tag(
              "question_type", 
              options_for_select([["Multiple Choice"] ,["Range Question"]])
              ) %>
          </p>
        <p><%= submit_tag "Add a New Question", class: "btn btn-primary btn-group btn-group" %></p>
      <% end %>

      </br>
    </div>
  </div>
  <%= render partial: "shared/survey_existing_qu", locals: { survey: @survey } %>
</div>