<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="">Survey Builder</div>
    <!-- <hr /> -->
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p>1. Build Survey | <strong>2. Add Questions</strong></p>
    </div>
    <div class"col-md-12">
      <p>Next, fill in the questions</p>
      <h6>Title:</h6>
      <p><%= @survey.title %></p>
      <h6>Description:</h6>
      <p><%= @survey.description %></p>
    </br>
    </div>
  </div>
  <div class="row">
    <div class"col-md-12">
      <h6>Add a question:</h6>
      <em>Choose what type of questions to add</em>
      
        <%= form_tag @survey do %>
            <p><%= select_tag(
                "question_type", 
                options_for_select([["Multiple Choice"] ,["Range Question"]])
                ) %>
            </p>
          <p><%= submit_tag "Add a New Question", class: "btn btn-primary btn-group btn-group" %></p>
        <% end %>

      <!-- <%= hidden_field_tag :id, :value => @survey.id %> -->
      </br>
    </div>
    <div class"col-md-12"> 
     
      <p>RENDER A PARTIAL TO SHOW EXISTING QUESTIONS, </p>
      </br>
    </div>
  </div>
</div>